* {
    box-sizing: border-box;
}

html {
    display: table;
    margin: auto;
}

body {
    
    background-image: url(concrete_seamless.png);
    display: table-cell;
    vertical-align: middle;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100%;
}

h1,
h2,
h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2,
h3 {
    color: #4aaaa5;
}

/* header */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

.headcontain {
    max-width: 960px;
    margin: auto;
    vertical-align: middle;
}

header h1,
header nav {
    display: inline-block;
}

header h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

nav {
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

nav li {
    display: inline-block;
    color: gray;
    padding-right: 4px;
    padding-left: 4px;
}

nav li:not(:first-child):before {
    content: " | ";
    padding-left: 4px;
    padding-right: 7px;
}

/* add other link types (clicked, etc) */

nav a:link {
    
    text-decoration: none;
}

nav a:visited {
    text-decoration: #4aaaa5;
}


.container {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 960px;
}

h2 {
    margin-left: 20px;
    tex
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    line-height: 1.6;
}

.column {
    float: left;
    padding: 10px;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: #ffffff;
    color: #777777;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

/* right column */

.column.side {
    margin-right: 0;
    width: 270px;
    text-align: center;
    color: floralwhite;
}

.links {
    display: inline-flex;
    padding: 0px;
}

.icons {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

/* Middle column */

.column.middle {
    width: 650px;
}

.profile {
    width: 175px;
    height: 180px;
    float: left;
    margin: 15px;
    margin-bottom: -10px;
}

.main {
    width: 600px;
    height: 2px;
    border: 0;
    border-top: 2px solid #dddddd;
}

.social {
    width: 200px;
    height: 2px;
    border: 0;
    border-top: 2px solid #dddddd;
    margin-bottom: -10px;
}

/* Clear floats after the columns */

.container:after {
    content: "";
    display: table;
    clear: both;
}

/* footer */

.footer {
    color: #ffffff;
    background-color: #666666;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}

.pfoot {
    font-size: 70%;
}

/* contact page */

form {
    margin-left: 10px;
    margin-right: 10px;
}

input[type=text] {
    width: 100%;
}

input[type=textarea] {
    width: 100%;
    height: 200px;
}

input[type=button] {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 10px 32px;
    text-align: center;
}

/*Portfolio */

.port {
    position: relative;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 650px;
}

img {
    width: 275px;
    height: 205x;
    margin: 10px;
    padding-bottom: 20px;
}

/* Bottom text */

.text-block {
    position: absolute;
    width: 275px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    margin-top: 120px;
    margin-left: 10px;
}

@media (max-width: 640px)